
{{ define "main" }}
    <div id="auth-check" hx-post="/auth/authorizedredis" hx-trigger="load" hx-target="this" hx-swap="none"></div>
    
    <div class="d-flex justify-content-center align-items-center" hx-ext="response-targets" style="min-height: 70vh;">
        <form hx-post="/auth/loginredis" hx-credentials="include" class="p-4 border rounded shadow" style="max-width: 350px; width: 100%;">    
            <div class="text-center mb-4">
                <img src="/static/security-icon.png" class="rounded" style="max-width: 100px;" alt="security-icon">
            </div>
            <div class="mb-3">
                <input name="user" type="text" class="form-control" placeholder="Usuario" required>
            </div>
            <div class="mb-3">
                <input name="password" type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            <div id="login-error"></div>

        </form>
    </div>

    <script>
        function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            const cookieValue = parts.pop().split(';').shift();
            return decodeURIComponent(cookieValue);
        }
        return null;
    }
    document.body.addEventListener('htmx:configRequest', function(evt) {
        var csrfToken = getCookie('csrf_token');
        if (csrfToken) {
            evt.detail.headers['X-CSRF-Token'] = csrfToken;
        }
    });
    </script>
    
    
    <script>
        document.body.addEventListener('htmx:responseError', function(evt) {
            if (evt.detail.requestConfig.path.endsWith("/auth/loginredis")) {
               
            
            var errorDiv = document.getElementById('login-error');
            if (evt.detail.xhr.status === 401) {
                errorDiv.innerHTML = '<div class="alert alert-danger mt-3">Usuario o contraseña incorrectos</div>';
            } else if (evt.detail.xhr.status === 400) {
                errorDiv.innerHTML = '<div class="alert alert-warning mt-3">Solicitud inválida. Por favor revisa los datos ingresados.</div>';
            } else if (evt.detail.xhr.status >= 500) {
                errorDiv.innerHTML = '<div class="alert alert-danger mt-3">Error del servidor. Intenta nuevamente más tarde.</div>';
            } else {
                errorDiv.innerHTML = '<div class="alert alert-secondary mt-3">Ocurrió un error inesperado.</div>';
            }}
        });
    </script>
    
    
    <script>
        document.body.addEventListener('htmx:afterRequest', function(evt) {
        if (
            evt.detail.requestConfig.path.endsWith('/auth/authorizedredis') && 
            evt.detail.xhr.status === 200) {
            window.location.href = "/home";
        }
        if (
            evt.detail.xhr.status === 200 &&
            evt.detail.requestConfig.path.endsWith("/auth/loginredis")
        ) {
        window.location.href = "/home";
        }
        });
    </script>
    
{{ end }}
